@import url("https://fonts.googleapis.com/css2?family=Imperial+Script&family=Inspiration&family=Love+Light&family=Mea+Culpa&family=Oooh+Baby&family=Pushster&family=Waterfall&family=Zen+Antique&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  padding: 50px 100px;
  background-color: orchid;
}

h1 {
  font-family: "Imperial Script", cursive;
  font-family: "Inspiration", cursive;
  font-family: "Love Light", cursive;
  font-family: "Mea Culpa", cursive;
  font-family: "Oooh Baby", cursive;
  font-family: "Pushster", cursive;
  font-family: "Waterfall", cursive;
  font-family: "Zen Antique", serif;
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  margin: auto;
  margin-bottom: 10px;
  background-color: black;
  color: white;
  padding: 10px;
}

#textbox {
  font-size: 20px;
  width: 100%;
  border: 2px solid black;
  background-color: lightgoldenrodyellow;
  color: black;
}

p {
  text-align: center;
  background-color: black;
  color: white;
  font-size: 20px;
  font-weight: bold;
  margin-top: 5px;
  padding: 6px;
}
